<%- include('navbar') %>
<title><%= title %></title>
<div class="addCategories">
  <div class="container px-5">
    <section class="main-content">
      <div class="title">Category Details</div>
      <div class="content">
        <br/>
        <br/>
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if(categoryData.length!=0){ var i=1;
            categoryData.forEach(function(data){ %>
            <tr>
              <td><%=data.CATEGORY_ID %></td>
              <td><%=data.CATEGORY_NAME %></td>
              <td><a class="btn-danger px-2 my-sm-0" href="/categories/delete/<%=data.CATEGORY_ID%>">Delete</a></td>
            </tr>
            <% i++; }) %> <% } else{ %>
            <tr>
              <td colspan="7">No Data Found</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</div>

<%- include('partials/footer') %>